body {
	margin: 0px;
	border: 0px;
	background-repeat:repeat;
	background-color: #333;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
}

.hidden{
    display: none;
}

.gorillazlogo{
    margin-left: 800px;
}

.center{
    text-align: center;
}

.drop-zone{
    width: 200px;
    height: 200px;
    border: thin dashed white;
	position: relative;
}

.drop-board {
	margin-top: 40px;
	height: 400px;
    width: 600px;
	display: inline-block;
	border: medium solid #333;
	background-color: #000;
	color: inherit;
    text-align: center;
	
}
